

.header
{
    width:100%;
    padding:10px;
    font-size:200%;
    font-weight:600;
    margin:0px;
}




#search
{
    width:150px;
    display: inline;
}


#questions
{
    background-color: rgb(235, 235, 224);
    min-height: 600px;
    width:100%;
    margin-top:10px;
   margin-left:-15px;
}